# Virtual environment
.venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints/

# Environment variables / secrets
.env

# Logs
logs/
*.log

# Generated reports
reports/

# Temporary files
*.tmp
*.temp

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/